* {
    font-family: sans-serif;
    font-size: 14px;
}

body {
    overflow:hidden;
}

html, body {
    background-color: #222;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-tap-highlight-color: transparent;
}

html, body, canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

div {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}


#fullscreen {
    position: absolute;
    border: none;
    top: 30px;
    right: 10px;
    width: 70px;
    height: 30px;
    font-size: 30px;
    background-color: transparent;
}
#smiley {
    position: absolute;
    border: none;
    top: 30px;
    right: 100px;
    width: 70px;
    height: 30px;
    font-size: 30px;
    background-color: transparent;
}
#smileyNum {
    position: absolute;
    border: none;
    top: 30px;
    right: 100px;
    width: 70px;
    height: 30px;
    font-size: 10px;
    opacity: 0.5;
    background-color: transparent;
}
#poopy {
    position: absolute;
    border: none;
    top: 30px;
    right: 170px;
    width: 70px;
    height: 30px;
    font-size: 30px;
    background-color: transparent;
}
#poopyNum {
    position: absolute;
    border: none;
    top: 30px;
    right: 170px;
    width: 70px;
    height: 30px;
    font-size: 10px;
    opacity: 0.5;
    background-color: transparent;
}
#xd {
    position: absolute;
    border: none;
    top: 30px;
    right: 240px;
    width: 70px;
    height: 30px;
    font-size: 30px;
    background-color: transparent;
}
#xdNum {
    position: absolute;
    border: none;
    top: 30px;
    right: 240px;
    width: 70px;
    height: 30px;
    font-size: 10px;
    opacity: 0.5;
    background-color: transparent;
}
#finger {
    position: absolute;
    border: none;
    top: 30px;
    right: 310px;
    width: 70px;
    height: 30px;
    font-size: 30px;
    background-color: transparent;
}
#fingerNum {
    position: absolute;
    border: none;
    top: 30px;
    right: 310px;
    width: 70px;
    height: 30px;
    font-size: 10px;
    opacity: 0.5;
    background-color: transparent;
}
#hmmm {
    position: absolute;
    border: none;
    top: 30px;
    right: 380px;
    width: 70px;
    height: 30px;
    font-size: 30px;
    background-color: transparent;
}
#hmmmNum {
    position: absolute;
    border: none;
    top: 30px;
    right: 380px;
    width: 70px;
    height: 30px;
    font-size: 10px;
    opacity: 0.5;
    background-color: transparent;
}
#angry {
    position: absolute;
    border: none;
    top: 30px;
    right: 450px;
    width: 70px;
    height: 30px;
    font-size: 30px;
    background-color: transparent;
}
#angryNum {
    position: absolute;
    border: none;
    top: 30px;
    right: 450px;
    width: 70px;
    height: 30px;
    font-size: 10px;
    opacity: 0.5;
    background-color: transparent;
}

p{
    font-size: 14px;
}

#kick {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 80px;
    height: 80px;
    padding: 5px;
    border: none;
    border-radius: 50%;
}

#shoot {
    position: absolute;
    bottom: 10px;
    right: 105px;
    width: 80px;
    height: 80px;
    padding: 5px;
    border: none;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}

#status {
    position: absolute;
    padding: 10px;
    background: rgba(0, 0, 0, 0.4);
    color: #FFF;
    font-size: 16.1px;
    top: 10px;
    right: 10px;
    font-weight: bold;
    text-align: center;
}

#status .title {
    font-size: 25px;
}

#status .me {
    color: #FF8888;
    font-size: 16.1px;
}



#startMenu {
    position: relative;
    margin: auto;
    margin-top: 100px;
    width: 350px;
    padding: 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: white;
    box-sizing: border-box;
}

#startMenu p {
    padding: 0;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

#playerNameInput {
    width: 100%;
    text-align: center;
    padding: 10px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
    box-sizing: border-box;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 10px;
    outline: none;
}

#playerNameInput:focus, #playerNameInput.focus {
    border: solid 1px #CCCCCC;
    box-shadow: 0 0 3px 1px #DDDDDD;
}

#startButton, #spectateButton {
    position: relative;
    margin: auto;
    margin-top: 10px;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    font-size: large;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #2ecc71;
    border: 0;
    border-bottom: 2px solid #28be68;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #28be68;
    box-shadow: inset 0 -2px #28be68;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 10px;
}

#spectateButton:active, #spectateButton:hover,
#startButton:active, #startButton:hover {
    top: 1px;
    background: #55D88B;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#settingsButton {
    position: relative;
    margin: auto;
    margin-top: 10px;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    font-size: large;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #2ecc71;
    border: 0;
    border-bottom: 2px solid #28be68;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #28be68;
    box-shadow: inset 0 -2px #28be68;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 10px;
}

#settingsButton:active, #settingsButton:hover {
    top: 1px;
    background: #55D88B;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#settings, #startMenuWrapper {
    -webkit-transition: max-height 1s;
    -moz-transition: max-height 1s;
    -ms-transition: max-height 1s;
    -o-transition: max-height 1s;
    transition: max-height 1s;
    overflow: hidden;
}

#settings {
    max-height: 0;
}

#startMenu h3 {
    padding-bottom: 0;
    margin-bottom: 0;
}

#startMenu ul {
    margin: 10px;
    padding: 10px;
    margin-top: 0;
}

#startMenu .input-error {
    color: red;
    opacity: 0;
    font-size : 12px;
}

#startMenuWrapper {
    z-index: 2;
}

#gameAreaWrapper {
    position: absolute !important;
    top: 0;
    left: 0;
    opacity: 0;
}


input [type="image"]:focus{
 border:none;
 outline: 1px solid transparent;
 border-style: none;
}

*:focus {
 outline: 1px solid transparent;
 border-style: none;
}
